doctype html
html
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/amcharts/2.11.3/amcharts.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js")
  script(src="/javascripts/amcharts/serial.js")
  link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='/stylesheets/style.css')
  head
    title= title
  body
    div.container

      h1= title
      p Welcome to #{title} 
      each item in results
        li= item.track_name


    